<footer class="site-footer h-card">
  <div class="wrapper">
    <h2>데이블은 공개채용중입니다!</h2>
    <p><a href="https://www.notion.so/dableglobal/Join-Us-Now-e92b1d419e4d49a087f4c246610e5a51" target="_blank">
      <img src="/techblog/assets/images/edbb.jpg" alt="Every Day Bling Bling Dable - Global Big Data Frontier 데이블에 지금 조인하세요! 개발 및 시스템/사업 운영, 마케팅 제휴 등 다양한 분야에서 채용 진행중입니다." />
    </a></p>
  </div>
  <hr style="border:0;border-top:solid 1px #e8e8e8" />
  <div class="wrapper" style="opacity: .6">
    <p><a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>를 따릅니다.</p>
  </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64397972-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-64397972-8');
</script>
